body {
	font-family: "unscii";
	background-color: #fff385;
}

/* header things */

header {
	text-align: center;
}

.toplogo {
	margin: 30px 0px 0px 0px
}

.title {
	margin: 10px 0px 5px 0px;
}

/* body things */

main p {
	text-align: center;
	margin: 10px 0px;
	padding: 0px 40px;
}

.title {
	text-align: center;
}

/* fonts */

@font-face {
    font-family: "unscii";
    src: url("fonts/unscii.woff") format('woff');
}