<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="pub/styles/base.css" type="text/css"/>
        <link rel="stylesheet" href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css"/>
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css"/>
        <link rel="shortcut icon" href="pub/favicon.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>

        <title>MarkJam</title>

        <style>
            body,
            code,
            html,
            kbd,
            pre,
            samp {
                font-family: "unscii";
            }

            body {
                background-image: url("pub/img/marksitos.png");
                background-repeat: both;
                background-color: #fbc0f3;
            }
        </style>
    </head>
    <body>
        {% block page %}{% endblock %}
    </body>
</html>