{% extends "layouts/base.njk" %}

{% block page %}
    <main>
        <div class="ohhi">
            <img class="mark" src="pub/img/markbanner.gif"></img>

            <br/>

            <div class="nes-balloon">
                <p>
                    Mark Jam is a jam on where you need make a game, with mark
                </p>
            </div>
        </div>

        <a class="nes-btn is-error markjam-btn" href="https://itch.io/jam/mark-jam-3"
            style="margin: 0px 0 30px 0; color: #fff;">
            Entry to MarkJam
        </a>

        <a class="nes-btn is-primary markjam-btn" href="https://discord.com/invite/aQ6RuQm3TF"
            style="margin: 0px 0 30px 0; color: #fff;">
            Join Discord
        </a>

        <h2>
            <img src="/pub/img/jams.gif" alt="Jams"></img>
        </h2>
        <ul class='mark-list nes-list is-circle'>
            <li>
                <a href='https://itch.io/jam/mark-jam' target='_blank'>#1 About Mark</a>
            </li>
            <li>
                <a href='https://itch.io/jam/mark-jam-2' target='_blank'>#2 Into space</a>
            </li>
            <li>
                <a href='#'>More Soon™️</a>
            </li>
        </ul>

        <h2>
            <img src="/pub/img/faq.gif" alt="FaQ"></img>
        </h2>

        <div class="faq">
            <details>
                <summary>When is the next <span style="font-weight: bold;">MarkJam?</span></summary>
                <div class="nes-balloon">
                    <p>
                        Mark Jam will be organized every 2 weeks with a duration of 2 weeks. <br/> The next Mark Jam are soon
                    </p>
                </div>
            </details>

            <details>
                <summary>Must I use Kaboom?</summary>
                <div class="nes-balloon">
                    <p>
                        Not Really
                    </p>
                </div>
            </details>
        </div>

        <h2>
            <img src="/pub/img/showcase.gif" alt="Showcase"></img>
        </h2>

        <div class="showcase">
            {% for game in games %}
                <article class="game">
                    <img class="banner" src="{{ game.banner }}"/>
                    <div class="info">
                        <a href="{{ game.url }}" target="_blank">
                            <p class="title">{{ game.title }}</p>
                        </a>

                        <p class="author">{{ game.author }}</p>
                    </div>
                </article>
            {% endfor %}
        </div>
    </main>

    <footer>
        <p>MarkJam™️ is a licensed trad-MARK by Bean Corp ©️</p>

        <h3>Partners</h3>

        <img src="pub/img/marks/kaboom.png"/>
        <img src="pub/img/marks/beanie_beans.png"/>
        <img src="pub/img/marks/bagbags.png"/>
    </footer>
{% endblock %}